<!-- <nav class="navbar navbar-dark bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand text-bold" href="#">
            <img src="assets/avtar.png" width="50" alt="logo">
            <span class="text-uppercase">Dynamic e Solutions</span>
        </a>
    </div>
</nav> -->

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom header">
        <a class="navbar-brand text-bold" href="/">
            <img src="assets/avtar.png" width="50" alt="logo">
            <span class="text-uppercase">Dynamic e Solutions</span>
        </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li *ngIf="isLoggedIn"><a [routerLink]="['/results']" routerLinkActive="btn-outline-primary" class="nav-link px-2 link-primary">Admin Report</a>
        </li>
        <!-- <li><a [routerLink]="['/']" routerLinkActive="btn-outline-primary" class="nav-link px-2 link-dark">Students</a></li> -->
      </ul>

      <!-- <div class="col-md-3 text-end">
        <a type="button" class="btn btn-outline-primary me-2" [routerLink]="['login']"><i class="fa fa-plus"></i> Login</a>
        <a type="button" class="btn btn-outline-primary me-2" [routerLink]="['signup']">Sign-up</a>
      </div> -->
    </header>
