<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">

  <footer class="bg-light text-center">


  <div class="row justify-content-center mb-3">
    <div class="col-4">
      <div>
  <form>
    <div>
      <input type="file" name="image" (change)="selectImage($event)" />
    </div>
    <!-- <br> -->
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div>
    </div>
  </div>




<!--
<div style="text-align: center">
  <form>
    <div>
      <input type="file" name="image" (change)="selectImage($event)" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
  </form>
</div> -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="/">Simplilearn 2</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
