<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5 footer">
  <footer class="bg-light text-center">
    <div *ngIf="!isLoggedIn3" class="row justify-content-center">
      <div class="col-5">
        <div>
          <form>
            <div class="float-sm-start btn btn-warning">
              <input type="file" name="image" (change)="selectImage($event)" />
            </div>

            <!-- <br> -->
            <div class="float-sm-end btn btn-primary">
              <button type="submit" (click)="onSubmit()">Upload Resume</button>
            </div>
          </form>
        </div>
        <br /><br />
      </div>
    </div>

    <!-- Copyright -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-dark" href="/">Simplilearn 2</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
